<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Demo</title>
  <link rel="stylesheet" href="../../public/bootstrap.min.css">
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <style>

    @font-face {
      font-family: 'Sofia-Pro-Regular';
      src: url('/public/fonts/sofia-pro-regular.otf');
    }
    @font-face {
      font-family: 'Sofia-Pro-Black';
      src: url('/public/fonts/sofia-pro-black.otf');
    }
    html, body {
      height: 100%;
      margin: 20px;
      padding: 0;
      background: #28293e;
      color: white;
      font-family: Sofia-Pro-Black;
    }

  #alert{
    position:absolute;
    z-index:100;
    width:400px;
    font-size: 28px;
    left:20px;
    top:10%;
  }

    #header {
      text-align: center;
      margin: auto;
      color: #4bfeba;
      margin-bottom: 30px;
    }

    .btn-primary {
      background: #4bfeba;
      color: black;
    }
    .btn-link {
      color: #4bfeba;
    }

    .fleet {
      margin-top: -30px;
      margin-left: 5px;
      font-weight: bold;
    }

    .container {
      height: 100%;
      width: 100%;
      max-height: 600px;
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
    }

  </style>
</head>
<body>
  <div class="container">
    {{!-- alert --}}
    <div class="alert alert-success" id="alert" hidden="true" role="alert"></div>
    <div id="header">
      <img src="/images/halo.full.logo.png" height="225">
      <h3 class="fleet">FLEET</h3>
    </div>


    {{{body}}}

  </div>
</body>
</html>
