<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Demo</title>
  <link rel="stylesheet" href="../../public/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
  <style>
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 20px;
      padding: 0;
      background: #28293e;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
    }

    #header {
      text-align: center;
      margin: auto;
      color: #4bfeba;
      margin-bottom: 30px;
    }

    .btn-primary {
      background: #4bfeba;
      color: black;
    }
    .btn-link {
      color: #4bfeba;
    }

    .fleet {
      margin-top: -30px;
      margin-left: 5px;
      font-weight: bold;
    }

    .container {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }

  </style>
</head>
<body>
  <div class="container">
    <div id="header">
      <img src="/images/halo.full.logo.png" height="225">
      <h3 class="fleet">FLEET</h3>
    </div>

    {{{body}}}

  </div>
</body>
</html>
