<div id="connect">
  <button type="button" class="btn btn-primary" onclick="window.location.href='{{authUrl}}'">
    {{#if testMode}}
      Connect to a test car
    {{else}}
      Connect to your car
    {{/if}}
  </button>
  <p/>
  <p>
    {{#if testMode}}
      Want to test on a real vehicle? Run the demo in <a href="https://smartcar.com/docs#test-mode">live mode</a>.
    {{else}}
      Don't have access to a car? You can connect to a test vehicle using our <a href="https://smartcar.com/docs#test-mode">test mode</a>.
    {{/if}}
  </p>
</div>
