<style>
  #map {
    width: 100%;
    height: 800px;
  }
  body {
    color: black;
  }
</style>

<div id="vehicles">
  <div id="map"></div>
  <a href="/logout" class="btn btn-link" role="button">Logout</a>
</div>


    <script>
      var map;
      var center;
      function initMap() {
        const vehicles = JSON.parse(this.response).vehicles.vehicles;
        console.log('vehicles', vehicles);
        if (vehicles) {
          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: { lat: 37.56241989135742, lng: -107.9727783203125 }
          });
          for (var id in vehicles){
            generateMarker(vehicles[id]);
          }
        }
        else {
          document.getElementById("map").style.display = "none";
        }
      }

      function generateMarker(vehicle) {
        if (Math.abs(vehicle.location.latitude) && Math.abs(vehicle.location.longitude)) {
          var myLatlng = new google.maps.LatLng(parseFloat(vehicle.location.latitude), parseFloat(vehicle.location.longitude));
          var geocoder = new google.maps.Geocoder;
          var infowindow = new google.maps.InfoWindow;
          var marker = new google.maps.Marker({
            position: myLatlng
          });
          marker.setMap(map);

          geocoder.geocode({ 'location': myLatlng }, function (results, status) {
            if (status === 'OK') {
              if (results[0]) {
                map.setZoom(8);
                google.maps.event.addListener(marker, 'click', function () {
                  console.log(results[0].formatted_address);
                  infowindow.setContent(
                    `<span class="infowindow">${results[0].formatted_address}</span>
                      <br>
                      <button onclick="reqUnlock(vehicle.id)" class="btn btn-demo">Unlock</button>
                      <button onclick="reqLock(vehicle.id)" class="btn btn-demo" >Lock</button>`
                      
                  );
                  infowindow.open(map, this);
                }); 
              }
            }
          });
        }
      }

      function reqUnlock(vehicleId) {
        console.log('vehicleId', vehicleId);
        var oReq = new XMLHttpRequest();
        oReq.addEventListener("load", function(){});
        oReq.open("POST", "/request");
        oReq.setRequestHeader("Content-Type", "application/json");
        oReq.send(JSON.stringify({ requestType: "unlock", vehicleId }));
      }

      function reqLock(vehicleId) {
        console.log('vehicleId', vehicleId);
        var oReq = new XMLHttpRequest();
        oReq.addEventListener("load", function () { });
        oReq.open("POST", "/request");
        oReq.setRequestHeader("Content-Type", "application/json");
        oReq.send(JSON.stringify({ requestType: "lock", vehicleId }));
      }

      function reqVehicles(){
        var oReq = new XMLHttpRequest();
        oReq.addEventListener("load", initMap);
        oReq.open("GET", "/vehicles/all");
        oReq.send();
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATEnQ2RWxJhYahUL0SCAVGgKLWV5eZ4Eo&callback=reqVehicles" async defer></script>
